S3method(predict, TFRE)
S3method(coef, TFRE)
S3method(plot, TFRE)
export(TFRE)
export(predict.TFRE)
export(coef.TFRE)
export(plot.TFRE)
export(est_lambda)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom("stats", "rt", "rnorm", "quantile")
importFrom("graphics", "abline", "axis", "mtext", "par", "legend")
importFrom("utils", "combn")
useDynLib(TFRE, .registration = TRUE)
