S3method(predict,RankReg)
S3method(coef,RankReg)
S3method(plot,RankReg)
export(RankReg)
export(predict.RankReg)
export(coef.RankReg)
export(plot.RankReg)
export(est_lambda)
importFrom(Rcpp, evalCpp)
importFrom("stats", "rt", "rnorm", "quantile")
importFrom("graphics", "abline", "axis", "mtext", "par")
importFrom("utils", "combn")
useDynLib(RankReg, .registration = TRUE)
